# https://j-hc.github.io/rvmm-config-gen/
enable-magisk-update = false
parallel-jobs = 1
remove-rv-integrations-checks = true
compression-level = 9
riplib = true
arch = "arm64-v8a"
build-mode = "apk"
patches-version = "dev"
cli-version = "dev"
version = "auto"

# https://github.com/j-hc/revanced-magisk-module/issues/554
[Music-Extended]
enabled = true
app-name = "Music"
patches-source = "anddea/revanced-patches"
cli-source = "inotia00/revanced-cli"
rv-brand = "RVX"
version = "8.30.54"
#patcher-args = "--legacy-options=options.json"
patcher-args = "-e 'Custom branding icon for YouTube Music' -OappIcon='mnt' -e 'Visual preferences icons for YouTube Music' -OsettingsMenuIcon=revanced -OdarkThemeBackgroundColor=@android:color/black -OlightThemeBackgroundColor=@android:color/white"
excluded-patches = "'Enable debug logging'"
uptodown-dlurl = "https://youtube-music.en.uptodown.com/android"
apkmirror-dlurl = "https://apkmirror.com/apk/google-inc/youtube-music"
archive-dlurl = "https://archive.org/download/jhc-apks/apks/com.google.android.apps.youtube.music"

[YouTube-Extended]
enabled = true
app-name = "YouTube"
patches-source = "anddea/revanced-patches"
cli-source = "inotia00/revanced-cli"
rv-brand = "RVX"
version= "20.21.37"
#patcher-args = "--legacy-options=options.json"
patcher-args = "-e 'Custom branding icon for YouTube' -OappIcon='mnt' -OdarkThemeBackgroundColor=@android:color/black -OlightThemeBackgroundColor=@android:color/white -e 'Visual preferences icons for YouTube' -OsettingsMenuIcon=revanced"
excluded-patches = "'Enable debug logging'"
uptodown-dlurl = "https://youtube.en.uptodown.com/android"
apkmirror-dlurl = "https://apkmirror.com/apk/google-inc/youtube"
archive-dlurl = "https://archive.org/download/jhc-apks/apks/com.google.android.youtube"

[Spotify]
enabled = false
uptodown-dlurl = "https://spotify.en.uptodown.com/android"
archive-dlurl = "https://archive.org/download/jhc-apks/apks/com.spotify.music"
included-patches = "'Custom theme'"
patcher-args = "-e 'Custom branding name for Spotify' -OappName='RVX Spotify'"

[Reddit]
enabled = false
uptodown-dlurl = "https://reddit-official-app.en.uptodown.com/android"
apkmirror-dlurl = "https://apkmirror.com/apk/redditinc/reddit"
patcher-args = "-e 'Custom branding name for Reddit' -OappName='RVX Reddit'"
dpi = "120-640dpi"

[X]
enabled = false
uptodown-dlurl = "https://twitter.en.uptodown.com/android"
apkmirror-dlurl = "https://apkmirror.com/apk/x-corp/twitter"
patches-source = "crimera/piko"
rv-brand = "Piko"
included-patches = "'Dynamic color'"
dpi = "120-640dpi"
